body {
  background-color: antiquewhite;
}
.showbtn {
  background-color: rgb(255, 190, 105);
  padding: 12px;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(255, 145, 0);
}
.deletebtn {
  background-color: brown;
  padding: 8px;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(255, 145, 0);
  margin: 15px;
}
.deletebtn:active {
  background-color: rgb(119, 0, 0);
  border-color: rgb(255, 113, 113);
}
.task {
  display: flex;
  margin: 10px;
  padding-inline: 10px;
  padding: 12px;
  border-width: 5px;
  flex-direction: column;
  height: auto;
  width: 200px;
  background-color: rgb(255, 228, 191);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 16, 16);
  border-radius: 5px;
}
.task:hover {
  background-color: rgb(255, 223, 178);
}
